.section
  .contents
    %h2 
      コーヒーの楽しさを知る
    .columns
      - @blogs.each do |blog|
        = link_to blog_path(blog.id) do
          %section
            %ul.blogList
              %li.blogList__image
                = image_tag blog.image.url size: '220x150' 
              %li.blogList__body
                = blog.title
              %li.blogList__author
                = blog.user.name
              %div{:id => "likes_buttons_#{blog.id}"}
                = render partial: 'likes/like', locals: { blog: blog}
    = paginate @blogs
