%Body
  .header
    .headerInner
      .headerInner_main
        .icon
          = link_to root_path do
            %i.fas.fa-blender
              Finest_Coffee
      .headerInner__nav
        %ul.rightTag
        -if user_signed_in? 
          %li.rightTag1
            = link_to "マイページ", users_path
          %li.rightTag2
            = link_to "ログアウト", destroy_user_session_path, method: :delete
        -else     
          %li.rightTag1
            = link_to new_user_session_path do
              ログイン
          %li.rightTag2
            = link_to new_user_registration_path do
              新規会員登録        


