.container
  .container__row
    .container__box
      %h2 
        新規投稿
      = form_with model: @blog, class: "blog-box", id: "blog-form", local: "true" do |f|
        .form-group
          %label ブログ名
          %br/
          = f.text_field :title, class: 'form-control'
        .form-group
          %label ブログ内容
          %br/
          = f.text_area :body, class: 'form-control__area'
        .form-group
          = f.label :image, "写真", class: "label"
          %br/
          %i.fa.fa-image
          = f.file_field :image, class: "form-control__image"
        .form-group
          %strong Youtube url:
          = f.text_field :youtube_url, placeholder: "Youtube Url"
        -# .form-group
        -#   = f.label :tag_list
        -#   = f.text_field :tag_list, value: @blog.tag_list.join(","), class: "form-control", placeholder: 'テキストを入力してください'   
        %div
          = f.submit class: 'btn-success'
