.container
  .container__row
    .container__box
      %h2 
        新規投稿
      = form_with model: @blog, class: "blog-box", id: "blog-form", local: "true" do |f|
        .form-group
          %label ブログ名
          %br/
          = f.text_field :title, class: 'form-control'
        .form-group
          %label 記事内容
          %br/
          = f.text_area :body, class: 'form-control__area'
        .form-group
          = f.label :image, "写真", class: "label"
          %br/
          %i.fa.fa-image
          = f.file_field :image, class: "form-control__image"
        %div
          = f.submit class: 'btn-success'
