%section
  .details
    .blogList
      .blogList__image
        = image_tag @blog.image.url size: '220x150' 
      .blogList__title
        = @blog.title
      .blogList__body
        = @blog.body  
      .blogList__author
        = @blog.user.name  
      %div{:id => "likes_buttons_#{@blog.id}"}
        = render partial: 'likes/like', locals: { blog: @blog}   
      %iframe{:allow => "accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture", :allowfullscreen => "", :frameborder => "0", :height => "315", :src => "https://www.youtube.com/embed/#{@blog.youtube_url}", :width => "360"}
      - if @blog.user == current_user
        = link_to '編集', edit_blog_path(@blog), class: "btn btn-success"
        = link_to '削除', blog_path(@blog), method: :delete, class: "btn btn-danger"  
      .container
        - if current_user
          = form_with(model: [@blog, @comment], local: true, id: "new_comment") do |form|
            = form.text_area :text, placeholder: "コメントする", rows: "2", class: "textbox"
            %br/
            = form.submit "SEND", class: "form__submit"
        - else
          %strong
            %p ※※※ コメントの投稿には新規登録/ログインが必要です ※※※
      .comments
        %h4 ＜コメント一覧＞
        - if @comments
          - @comments.each do |comment|
            %p
              %strong
                = link_to comment.user.name, "/users/#{comment.user_id}", class: "username"
                ：
              = comment.text
      -# .star-rating
      -#   .star-rating-front
      -#     = @blog.review_score_percentage 
      -#     .rating-box
      -#       .ratings
      -#         %span#star.fa.fa-star  
      -#         %span#star.fa.fa-star
      -#         %span#star.fa.fa-star
      -#         %span#star.fa.fa-star
      -#         %span#star.fa.fa-star
      -#   .star-rating-back
      -#     .rating-box
      -#       .ratings
      -#         %span#star.fa.fa-star
      -#         %span#star.fa.fa-star
      -#         %span#star.fa.fa-star
      -#         %span#star.fa.fa-star
      -#         %span#star.fa.fa-star
      -# .average-score-display
      -#   = @blog.avg_score
      -#   点
      -#   = @blog.reviews.count
      -#   件のレビュー
      -# = render 'reviews/form', review: @review, blog: @blog
        