%section
  .details
    .blogList
      .blogList__image
        = image_tag @blog.image.url size: '220x150' 
      .blogList__title
        = @blog.title
      .blogList__body
        = @blog.body  
      .blogList__author
        = @blog.user.name
      - if @blog.user == current_user
        = link_to '編集', edit_blog_path(@blog), class: "btn btn-success"
        = link_to '削除', blog_path(@blog), method: :delete, class: "btn btn-danger"  