%Body
  .header
    %h3.title
      %a{:href => "/"} finest_coffee
    = form_with(url: search_blogs_path, local: true, method: :get, class: "search-form") do |form|
      = form.text_field :keyword, placeholder: "投稿を検索する", class: "search-input"
      = form.submit "検索", class: "search-btn"
    .menu
      - if user_signed_in?
        .menulist
          = link_to "ブログを投稿する", new_blog_path, class: "post"
          = link_to "ブログ投稿一覧", blogs_path, class: "post"
          = link_to "マイページ", user_path, class: "post"
          = link_to "ログアウト", destroy_user_session_path, class: "logout", method: :delete
      - else
        .loginlist
          = link_to "ログイン", new_user_session_path, class: "login"
          = link_to "新規登録", new_user_registration_path, class: "register"
  .container.mt-5
    .row
      .col-6.mx-auto
        %h2 編集
        = form_with model: @user, class: "blog-box", id: "blog-form", local: "true" do |f|
          .form-group
            %label ユーザー名
            %br/
            = f.text_field :name, class: "form-control"
          .form-group
            %label メールアドレス
            %br/
            = f.text_field :email, class: "form-control"
          %div
            = f.submit class: "btn-success"